# If accessing from another device natively or if Directus runs on a remote IP, set this:
DIRECTUS_URL=http://localhost:8055
DIRECTUS_EMAIL=admin@example.com
DIRECTUS_PASSWORD=admin
DIRECTUS_KEY=generate-a-random-uuid-here
DIRECTUS_SECRET=generate-a-random-uuid-here