# If accessing from another device natively or if Directus runs on a remote IP, set this:
DIRECTUS_URL=http://localhost:8055

# Optional: Server-side token to access files without making them public (needs to be generated in Directus User settings)
DIRECTUS_SERVER_TOKEN=