services:
  nuxt:
    image: ghcr.io/flospii/nuxt-template:latest
    restart: unless-stopped
    ports:
      - "3003:3000"
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:3000/"]
      interval: 10s
      timeout: 3s
      retries: 5
